@media(max-width:800px){
    body {
        height: 900px;
        min-height: 100vh;
    }

    h1{
        padding: 30px 0;
        background-color: $titleBGColor;
    }
    .selectionArea{
        flex-direction: column;
    }
    .food{
        width: 100%;
        padding-top: 30rem;
    }
    .drink{
        width:100%;
        padding-top: 12rem;
    }
}

@media(max-width:800px) and (min-height:1050px){
    .food{
        padding-top: 38rem;
    }
    .drink{
        padding-top: 20rem;
    }
}

@media(max-width:468px) {
    .food {
        padding-top: 38rem;
    }
}

@media(max-height:775px) {
    body {
        height: 775px;
    }
}