@media(max-width:615px){
    .selectionArea{
        flex-direction: column;
    }
    .food{
        width:100%;
        padding-top: 170px;
    }
    .drink{
        width:100%;
        padding-top: 50px;
    }
    
}