@media(max-width:615px){
    h1{
        padding: 20px 0 20px 0;
        border-bottom: 1px solid $bodyFontColor;
    }
    .selectionArea{
        flex-direction: column;
    }
    .food{
        width:100%;
        padding-top: 170px;
    }
    .drink{
        width:100%;
        padding-top: 50px;
    }
    
}
@media(max-height:525px){
    h1{
        padding:10px 0 10px 0;
    }
    .food{
        padding-top: 135px;
    }
    .drink{
        padding-top: 10px;
    }
}
@media screen and (orientation: landscape) {
      .selectionArea{
          flex-direction: row;
      }
      .food,.drink{
          padding-top:70px;
      }
      h2{
          margin-top: 10px;
          font-size: 4rem;
      }
}