.modal {
    width: 100%;
    position: absolute;
    z-index: 20;
    top: -300%;
    left: 0;
    padding: 3rem;
    min-height: 100vh;
    transition: all 1s;
}

.modal.show {
    top: 0;
}

.foodResults{
    @include modalPosition;
    background-color:$foodColor;
}

.drinkResults{
    @include modalPosition;
    background-color: $drinkColor;
}

img{
    height: 25%;
    width: 25%;
}

.ingredients {
    margin: 3rem 0;
    width: 70%;

    h4 {
        margin-bottom: 1rem;
    }
    
    ul {
        columns: 2;
    }
}

.recipe{
    width: 70%;

    p {
        line-height: 3rem;
        margin: 1rem auto;
    }

    .video {
        font-weight: 700;
        text-align: center;
        margin-top: 2rem;
    }
}

.foodResults {
    .closeModal {
        background-color: $drinkColor;
        @include buttonStyle;

        p {
            font-family: $foodFont;
            font-weight: 700;
        }
    }
}

.drinkResults {
    .closeModal {
        background-color: $foodColor;
        @include buttonStyle;

        p {
            font-family: $drinkFont;
            font-weight: 700;
        }
    }
}

.closeModal p:hover,
.closeModal p:focus,
a:hover,
a:focus {
    color:dimgrey;
    cursor: pointer;
}
