h1, 
h2,
p,
label {
    color: $bodyFontColor;
}

h1{
    font-family: $bodyFont;
    font-size: 8rem;
    text-align: center;
    padding-top: 50px;
}

h2{
    font-family: $bodyFont;
    font-size: 4rem;
    margin-bottom: 2rem;
}
label, select{
    font-family: $bodyFont;
    font-size: 2.4rem;
}
.foodResults h3{
    font-family: $foodFont;
    @include resultsFonts;
}
.drinkResults h3{
    font-family: $drinkFont;
    @include resultsFonts;
}
.ingredients, .recipe{
    font-family: $bodyFont;
    font-size: 2.6rem;
}
h4{
    font-family: $bodyFont;
    font-size: 3rem;
    font-weight: bold;
}
p{
    font-family: $bodyFont;
    font-size: 2.6rem;
    text-align:center;
}

