$foodFont: 'Acme', sans-serif;
$drinkFont: 'Dancing Script', cursive;
$bodyFont: 'Neuton', serif;
$bodyFontColor: #363636;
$foodBGColor: rgba(240, 128, 128, .7);
$drinkBGColor: rgba(152, 251, 152, .7);
$foodColor: rgba(240, 128, 128, 1);
$drinkColor: rgba(152, 251, 152, 1);