$foodFont: 'Acme', sans-serif;
$drinkFont: 'Dancing Script', cursive;
$bodyFont: 'Neuton', serif;
$bodyFontColor: rgba(63, 63, 70, 1);
$foodBGColor: rgba(239, 190, 171, .7);
$drinkBGColor: rgba(177, 210, 218, .7);
$foodColor: rgba(239, 190, 171, 1);
$drinkColor: rgba(177, 210, 218, 1);